@import url('https://fonts.googleapis.com/css?family=Poppins');

body {
  font-family: 'Poppins';
}

#header{}

header > div {
  padding: 0 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid lightgray;
}

nav {
  width: 600px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  text-decoration: none;
  color: black;
}

.blackHeart {
  width: 20px;
  margin-right: 1rem;
}

.npm-logo {
  width: 50px;
  margin-right: 1rem;
}

.search-bar {
	background-color: rgba(0,0,0,.05);
	color: rgba(0,0,0,.05);
	width: 1500px;
	margin: 0;
	padding: 0;
	
}

.search-button {
	background-color:#fb3e44;
	color: white;
	height: 40px;
	width: 70px;

}

.header2 {}

.header3{
	display:flex;
	justify-content: flex-end;
}

#section1 {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: columm;
	height: 600px;
}

#section1 article {
	width: 40%; 
	font-size: 0.9em;

}

.section1-seeplans-link {
	background-color:#FB3B49;
	color: white;
	text-decoration: none;
	text-align: center;
	
}

	
	